@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins'
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.searchSection {
    display: flex;
    justify-content: space-between;
}

.searchSection > .searchArea > button {
    font-family: 'Poppins';
    letter-spacing: 0.3px;
    background-color: #fb3e44;
    font-size: .875rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #fff;
    border-style: none;
    border-width: 0;
}

.searchArea {
    display: flex;
    justify-content: space-between;
    width: 85%;
    background: #f2f2f2;
    height: 35px;
}

.magnifying-glass {
    height: 15px;
    padding: 10px;
}

.search {
    width: 90%;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
    font-size: 14px;
    border: none;
    background-color: #f2f2f2;
    height: 35px;
}

.npmLogo{
    width: 70px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: inherit;
}

.logIn {
    width: 10%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: inherit;
}
